version: '{{ compose_version }}'

services:
  app:
    image: openfrontier/gerrit:{{ gerrit_version }}
    # entrypoint: bash -c "while [ 0 ]; do sleep 10; done"
    volumes:
      - {{ swarm_mounts_dir }}/gerrit/app:/var/gerrit/review_site
      - {{ swarm_mounts_dir }}/gerrit/app-ssh:/var/gerrit/.ssh
    ports:
      - 8080:8080
      - 29418:29418
    networks:
      ldap: {}
      default: {}
      traefik: {}
    environment:
      - WEBURL=http://{{ web_ip }}:8080
      - DATABASE_TYPE=mysql
      - DB_PORT_3306_TCP_ADDR=db
      - DB_PORT_3306_TCP_PORT=3306
      - DB_ENV_MYSQL_DB=gerritdb
      - DB_ENV_MYSQL_USER=root
      - DB_ENV_MYSQL_PASSWORD=gerrit_test
      - DATABASE_URL=jdbc:mysql://db:3306/gerritdb?autoReconnect=true&useSSL=false
      - AUTH_TYPE=LDAP
      - LDAP_SERVER=ldap://ldap
      - LDAP_ACCOUNTBASE=dc=example,dc=org
      - LDAP_PASSWORD={{ creds_ldap_bind_password }}
      - LDAP_USERNAME={{ creds_ldap_bind_username }}
      - GERRIT_INIT_ARGS=--install-plugin=replication --install-plugin=download-commands
      # - REPLICATION_REMOTES=standby
      # - REPLICATE_ON_STARTUP=true
      # - STANDBY_URL=ssh://standby:29418/${name}.git
      # - STANDBY_THREADS=3
      - HTTPD_LISTENURL=proxy-http://*:8080/gerrit/
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gerrit-master.rule=PathPrefix(`/gerrit`)"
      - "traefik.http.routers.gerrit-master.entrypoints=web"
      - "traefik.http.services.gerrit-master.loadbalancer.server.port=8080"
      - "traefik.http.services.gerrit-master.loadbalancer.healthcheck.port=8080"
      #- "traefik.tcp.routers.gerrit_ssh.rule=____"
      #- "traefik.tcp.services.gerrit_ssh.loadbalancer.server.port=29418"

  standby:
    image: openfrontier/gerrit:{{ gerrit_version }}
    volumes:
      - {{ swarm_mounts_dir }}/gerrit/standby:/var/gerrit/review_site
    ports:
      - 38080:38080
      - 39418:29418
    networks:
      ldap: {}
      default: {}
    environment:
      - WEBURL=http://{{ web_ip }}:38080
      - HTTPD_LISTENURL=proxy-http://*:38080/bare-gerrit/
      - DATABASE_TYPE=mysql
      - DB_PORT_3306_TCP_ADDR=db
      - DB_PORT_3306_TCP_PORT=3306
      - DB_ENV_MYSQL_DB=gerritdb
      - DB_ENV_MYSQL_USER=root
      - DB_ENV_MYSQL_PASSWORD=gerrit_test
      - DATABASE_URL=jdbc:mysql://db:3306/gerritdb?autoReconnect=true&useSSL=false
      - AUTH_TYPE=LDAP
      - LDAP_SERVER=ldap://ldap_app
      - LDAP_ACCOUNTBASE=dc=example,dc=org
      - LDAP_PASSWORD=admin
      - LDAP_USERNAME=cn=admin,dc=example,dc=org
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gerrit-standby.rule=PathPrefix(`/standby-gerrit`)"
      - "traefik.http.routers.gerrit-standby.entrypoints=web"
      - "traefik.http.services.gerrit-standby.loadbalancer.server.port=8080"
      - "traefik.http.services.gerrit-standby.loadbalancer.healthcheck.port=8080"
      #- "traefik.tcp.routers.gerrit-standby_ssh.rule=____"
      #- "traefik.tcp.services.gerrit-standby_ssh.loadbalancer.server.port=29418"
    deploy:
      replicas: 0

  db:
    image: mysql:5.7.27
    command: --sql-mode="STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"
    volumes:
      - {{ swarm_mounts_dir }}/gerrit/db:/var/lib/mysql
    networks:
      default:
        aliases:
          - db
    environment:
      - MYSQL_ROOT_PASSWORD=gerrit_test
      - MYSQL_DATABASE=gerritdb

networks:
  ldap:
    external: true
  traefik:
    external: true
