jenkins:
  numExecutors: 2
  authorizationStrategy:
    globalMatrix:
      permissions:
      - "Overall/Administer:jenkins_admin"
      - "Overall/Administer:jenkins_users"
      - "Overall/Read:authenticated"
  securityRealm:
    ldap:
      configurations:
        - displayNameAttributeName: "cn"
          groupSearchBase: "ou=groups"
          inhibitInferRootDN: false
          managerDN: "{{ creds_ldap_bind_username }}"
          managerPasswordSecret: "{{ creds_ldap_bind_password }}"
          rootDN: "{{ creds_ldap_bind_username.split(",")[1:] | join(",") }}"
          server: "ldap"
          userSearchBase: "ou=people"
  nodes:
{% for id,node in jenkins_nodes.items() %}
{%  for n in range(node.count | default(1)) %}
    - permanent:
        name: "{{ id }}_{{ n + 1 }}"
        remoteFS: "/home/jenkins"
        numExecutors: {{ node.executors | default(1) }}
        launcher:
          jnlp:
            workDirSettings:
              disabled: true
              failIfWorkDirIsMissing: false
              internalDir: "remoting"
              workDirPath: "/tmp"
{%  endfor %}
{% endfor %}


