jenkins:
  securityRealm:
    ldap:
      configurations:
        - groupMembershipStrategy:
            fromUserRecord:
              attributeName: "memberOf"
          inhibitInferRootDN: false
          rootDN: "dc=example,dc=org"
          server: "ldaps://ldap:389"
  nodes:
{% for id,node in jenkins_nodes.items() %}
{%  for n in range(node.count | default(1)) %}
    - permanent:
        name: "{{ id }}_{{ n + 1 }}"
        remoteFS: "/home/jenkins"
        numExecutors: {{ node.executors | default(1) }}
        launcher:
          jnlp:
            workDirSettings:
              disabled: true
              failIfWorkDirIsMissing: false
              internalDir: "remoting"
              workDirPath: "/tmp"
{%  endfor %}
{% endfor %}


