version: '{{ compose_version }}'

services:
  app:
    image: osixia/openldap:1.2.5
    command: --copy-service #--loglevel debug
    #ports:
    #  - 389:389
    #  - 636:636
    volumes:
      - {{ swarm_mounts_dir }}/ldap/app:/var/lib/ldap
      - {{ swarm_mounts_dir }}/ldap/app-slapd.d:/etc/ldap/slapd.d
    configs:
      - source: ldap
        target: /container/service/slapd/assets/config/bootstrap/ldif/custom/config.ldif
    networks:
      ldap:
        aliases:
          - ldap

  admin:
    image: osixia/phpldapadmin
    ports:
      - 6443:443
      - 680:80
    environment:
     - PHPLDAPADMIN_LDAP_HOSTS=ldap
    networks:
      ldap: {}
    depends_on:
      - app
    labels:
      - "traefik.enable=true"
      - "traefik.port=680"
      - "traefik.http.routers.ldap-admin.rule=PathPrefix(`/ldap-admin`)"
      - "traefik.http.services.ldap-admin.loadbalancer.server.port=6443"


configs:
  ldap:
    file: configs/ldap.ldif


networks:
  ldap:
    name: ldap
  traefik:
    external: true
