version: '{{ compose_version }}'

services:
  master:
    image: jenkins_master
    build: images/master
    environment:
      JENKINS_OPTS: "--prefix=/jenkins --httpPort=9000"
      CASC_JENKINS_CONFIG: "/jenkins.yaml"
    volumes:
      - ./mounts/master:/var/jenkins_home
    ports:
      - 9000:9000
    networks:
      - ldap
      - traefik
      - jenkins
    configs:
      - source: jenkins
        target: /jenkins.yaml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jenkins-master.rule=PathPrefix(`/jenkins`)"
      - "traefik.http.routers.jenkins-master.entrypoints=web"
      - "traefik.http.services.jenkins-master.loadbalancer.server.port=9000"
      - "traefik.http.services.jenkins-master.loadbalancer.healthcheck.port=9000"


  bare:
    image: jenkins/jenkins:lts-centos7
    environment:
      - "jenkins.install.runSetupWizard=false"
      - "JENKINS_OPTS=--prefix=/bare-jenkins --httpPort=9001"
    ports:
      - 9001:9001
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jenkins-bare.rule=PathPrefix(`/bare-jenkins`)"
      - "traefik.http.routers.jenkins-bare.entrypoints=web"
      - "traefik.http.services.jenkins-bare.loadbalancer.server.port=9001"
      - "traefik.http.services.jenkins-bare.loadbalancer.healthcheck.port=9001"

{%for id,node in jenkins_nodes.items() %}
  slave_{{ id }}:
    image: {{ node.image }}
    command: ["/slave_connect.sh", "{{ id }}"]
    configs:
      - source: slave_connect
        target: /slave_connect.sh
        mode: 0555
    networks:
      - jenkins
    deploy:
      replicas: {{ node.count | default(1) }}
{% endfor %}

configs:
  jenkins:
    file: configs/jenkins.yaml
  slave_connect:
    file: configs/slave_connect.sh

networks:
  jenkins: {}
  ldap:
    external: true
  traefik:
    external: true
