version: '{{ compose_version }}'

services:
  master:
    image: jenkins_master
    build: images/master
    environment:
      JENKINS_OPTS: "--prefix=/jenkins --httpPort=9000"
      CASC_JENKINS_CONFIG: "/jenkins.yaml"
    volumes:
      - ./mounts/master:/var/jenkins_home
    ports:
      - 9000:9000
    networks:
      - ldap
      - traefik
      - jenkins
    configs:
      - source: jenkins
        target: /jenkins.yaml
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.seg-main.frontend.rule=PathPrefix:/jenkins"
        - "traefik.port=9000"

{%for id,node in jenkins_nodes.items() %}
  slave_{{ id }}:
    image: {{ node.image }}
    command: ["/slave_connect.sh", "{{ id }}"]
    configs:
      - source: slave_connect
        target: /slave_connect.sh
        mode: 0555
    networks:
      - jenkins
    deploy:
      replicas: {{ node.count | default(1) }}
{% endfor %}

configs:
  jenkins:
    file: configs/jenkins.yaml
  slave_connect:
    file: configs/slave_connect.sh

networks:
  jenkins: {}
  ldap:
    external: true
    name: common_ldap
  traefik:
    external: true
    name: common_traefik
